*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 10px;
}


body{
    font-size: 1.6rem;
    font-family: arial;
    line-height: 1.5;
    background-color: rgb(230,230,230);
}

@media(max-width: 640px){
    body {
        font-size: 1.4rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(220,220,220);
    box-shadow: 2px 1px 2px rgba(200,200,200,0.9); 
    padding: 15px 0 15px 0;
}

#nav-list {
    display: flex;
    margin-right: 30px;
}

#nav-list li {
    list-style: none;
    padding: 10px 15px 10px 15px;
}

#nav-list a {
    color: black;
    text-decoration: none;
}

img {
    display: block;
    max-width: 300px;
    height: auto;
    margin-left: 15px;
}

main {
    margin: 130px auto 0 auto;
    max-width: 1000px;
}

@media(max-width: 700px){
    #header {
        flex-direction: column;
        justify-content: center;
    }
    #nav-list{
        flex-direction: column;
        margin: 0;
    }
    #nav-list li {
        padding: 0;
    }
    img  {
        margin: 0;
    }
    main {
        margin: 150px auto 0 auto;
    }
}

#form{
    text-align: center;
    margin-bottom: 100px;
}

#email-label {
    font-size: 2.3rem;
    font-weight: bold;
}

#email {
    width: 300px;
    height: 30px;
    margin: 15px auto 10px auto;
}

#submit {
    background-color: rgb(218, 165, 32);
    color: rgb(50, 50, 50);
    width: 150px;
    height: 30px;
    font-size: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    color: rgb(202, 149, 15);
}

#features {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(3, 120px);    
    padding: 15px;
}

#video {
  display: block;
  margin: 40px auto 80px auto;
}

#pricing {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-around;
}

#tenor, #bass, #valve {
    border: 1px solid black;
    width: 260px;
    height: 320px;
    text-align: center;
    line-height: 30px;
}

@media (max-width: 700px) {
    #pricing {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
}

#tenor-submit, #bass-submit, #valve-submit {
    width: 110px;
    height: 40px;
    background-color: rgb(218, 165, 32);
    color: rgb(50, 70, 50);
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 20px auto;
}

#tenor-title, #bass-title, #valve-title {
    background-color: rgb(218, 165, 32);
    margin: 0;
    padding: 10px;
}

#tenor h3, #bass h3, #valve h3 {
    padding: 10px;
}

footer {
    background-color: rgb(210,210,210);
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}

footer {
    background-color: rgb(210,210,210);
    text-align: right;
    border-radius: 5px;
    padding: 15px 15px 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

#list-footer li {
    display: inline;
    padding: 0 5px 0 5px;
}

#list-footer li a {
    text-decoration: none;
    color: black;
}